    </div>
    <hr>
    <div id="footer footer-fixed-bottom">
      <div class="container">
        <p class="text-muted credit">&copy; Digital Heart Research Group, Medical School of Nanjing University. Site available on <a href="https://github.com/haiboni/haiboni.github.io">GitHub</a>.</p>
        <p class="text-muted credit" style="font-size:0.8em;">Maintained with the help of AI.</p>
      </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/parallax.min.js"></script>
  </body>
</html>
