.masthead {
  position: relative;
  border-bottom: 1px solid $border-color;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {


  ul {
    margin: 0, auto;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
	// float: right
  justify-content: space-between;

  &--lg {
	// float: right !important;

    padding-right: 6em;
    font-weight: 700;
  }
}

.masthead__menu-item2 {
  display: block;
  list-style-type: none;
  white-space: nowrap;
  float: center;
   padding: 0;


  &--lg {
	// float: right !important;

    padding-right: 6em;
    font-weight: 700;
  }
}

.masthead__menu2 {
  float: left;
  margin-left: 0;
  // margin-right: 0;
  width: 100%;
  clear: both;
  justify-content: space-between;

  .site-nav {
    margin-left: 0;

    @include breakpoint($small) {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}